div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(241, 248, 255, 0.7);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

svg {
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 10px 10px 5px #888888;
}
