div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(241, 248, 255, 0.7);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div#graphDiv {
  opacity: 0.9;
  margin-top: 30px;
  position: absolute;
}

svg {
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 350px;
    box-shadow: 10px 10px 50px #000;
    z-index: 0;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#inputForm {
  background-color: white;
  border-radius: 50px;
  /*width: 350px;*/
  padding: 30px;
  margin: 30px;
  position: absolute;
  z-index: 1;
}

#particles-js {
  z-index: -1;
  position: fixed;
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #03273d;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
